.tictactoe-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.tictactoe-grid {
  display: grid;
  grid-template-columns: 1fr  ;
}

button {
  padding: 1.3rem 1.7rem;
}