.input-wrappers {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 0.8rem;
  border: 1px solid black;
  border-radius: 10px;
}


* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#how {
  position: absolute;
  left: 10px;
  top: 5px;
}

.inputs-wrapper {
  background: #fff;
  padding: 2rem;
  border-radius: 0px 0px 10px 10px;
  position: relative;
}

input {
  padding: 0.3rem 0.4rem;
  border: 2px solid black;
  border-radius: 5px;
}

button {
  padding: 0.3rem 1.5rem;
  border-radius: 5px;
  background-color: #000;
  color: white;
  border: 1px solid black;
  transition: all ease 0.2s;
  cursor: pointer;
}

button:hover {
  background-color: rgb(171, 0, 0);
  border-color: rgb(171, 0, 0);
}